$boxFill: #B97D46;
$footerFill: #707070;
$takenColor: #95520B;

@font-face {
    font-family: 'latomedium';
    src: url(./fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: 'latobold';
    src: url(./fonts/Lato-Bold.ttf);
}

body {
    margin: 0;
    font-family: 'latomedium', sans-serif;
    overflow-x: hidden;
}