@font-face {
  font-family: "latomedium";
  src: url(./fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "latobold";
  src: url(./fonts/Lato-Bold.ttf);
}
body {
  margin: 0;
  font-family: "latomedium", sans-serif;
  overflow-x: hidden;
}

#oParentContainer {
  width: 100%;
  top: 30vh;
  position: relative;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  width: 80%;
  margin-top: 10vh;
  margin-bottom: 30vh;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 5fr 1fr;
}

#title {
  background-color: white;
  color: #B97D46;
  grid-column: 1/span 2;
  height: 10vh;
  font-size: 50px;
  padding: 1%;
}

#dateTime {
  display: flex;
  grid-column: 1/span 2;
  margin-bottom: 2%;
}
#dateTime #filmName {
  background-color: white;
  margin-right: 15px;
  height: 3vh;
  padding: 1vh;
  color: #B97D46;
}
#dateTime select {
  background-color: white;
  height: 5vh;
  padding: 1vh;
  color: #B97D46;
  width: 100px;
  margin-right: 15px;
}

#steps {
  background-color: white;
  display: none;
}
#steps #step1 {
  display: grid;
}
#steps .stepTitle {
  color: #B97D46;
  font-size: 30px;
  padding: 2%;
}
#steps #ticketTable {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border-bottom: 2px solid #707070;
  width: 95%;
  justify-self: center;
}
#steps #priceTop {
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
  border-bottom: 2px solid #707070;
  height: 6vh;
}
#steps .prices {
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
  align-content: center;
}
#steps .prices select {
  border-color: #B97D46;
  background-color: white;
  color: #B97D46;
}
#steps #voucher {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 6vh;
  margin: 2%;
  align-content: center;
  grid-gap: 10px;
}
#steps #voucher input {
  border: 1px solid #B97D46;
}
#steps #voucher #addVoucher {
  background-color: #B97D46;
  color: white;
  border: none;
  padding: 1vh;
}
#steps #controlBox {
  border: 3px solid #B97D46;
  width: 93%;
  margin-left: 2%;
  padding: 1%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 3fr 2fr 1fr 1fr auto 1fr 3fr;
  color: #707070;
  max-height: 40vh;
}
#steps #controlBox #boldChairs {
  max-height: 5vh;
}
#steps #controlBox #controlPoster {
  grid-row: 1/span 7;
  grid-column: 1;
  height: 40vh;
  margin-right: 2%;
}
#steps #controlBox #controlPoster img {
  height: 100%;
}
#steps #controlBox .kijkwijzer {
  height: 7vh;
}
#steps #controlBox #controlTitle {
  font-size: 30px;
  grid-row: 1;
  grid-column: 2;
  align-self: center;
}
#steps #controlBox .bold {
  font-family: "latobold";
}
#steps #controlBox #controlTotal {
  align-self: center;
}
#steps #userInfo {
  display: grid;
  width: 50%;
  margin-left: 2%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}
#steps #userInfo input {
  border: 2px solid #B97D46;
  padding: 1vh;
}
#steps #userInfo #firstName {
  grid-column: 1;
  grid-row: 1;
}
#steps #userInfo #lastName {
  grid-column: 2;
  grid-row: 1;
}
#steps #userInfo .email {
  grid-column: 1/span 2;
}
#steps #payMethod {
  display: grid;
  width: 50%;
  margin-left: 2%;
  grid-template-columns: 1fr 4fr 1fr 4fr 1fr 4fr;
  grid-gap: 5px;
}
#steps #conditions {
  margin-left: 2%;
  display: flex;
  width: 50%;
  height: 10vh;
  justify-items: start;
  align-items: center;
}
#steps #conditions input[type=checkbox] {
  height: 5vh;
  width: 5vh;
}
#steps input[type=checkbox] {
  accent-color: #B97D46;
}

#filmInfo {
  background-color: white;
  height: auto;
  max-height: 100vh;
  display: none;
}
#filmInfo #infoImg {
  height: 300px;
  width: 200px;
  background-color: hotpink;
}
#filmInfo #filmDescription {
  padding: 10%;
}
#filmInfo #infoTitel {
  font-size: 25px;
  color: #707070;
  padding-bottom: 2%;
}
#filmInfo #infoDate {
  font-size: 17px;
  padding-bottom: 5%;
}
#filmInfo #infoRating {
  display: grid;
  height: 10vh;
}
#filmInfo #infoRating img {
  height: 100%;
}
#filmInfo #infoDescription {
  font-size: 15px;
}

#orderButton {
  display: none;
}
#orderButton input[type=submit] {
  background-color: #B97D46;
  color: white;
  border: none;
  padding: 1vh;
  width: 100%;
  height: 10vh;
  font-size: 30px;
  font-family: "latobold";
  margin-bottom: 5vh;
}

#step2 {
  display: flex;
  flex-direction: column;
}

#placeContainer {
  width: 40vw;
  align-self: center;
  min-height: 40vh;
  display: grid;
  grid-template-rows: 10vh auto;
}
#placeContainer #screen {
  width: 100%;
}
#placeContainer #seatsContainer {
  display: grid;
  grid-template-columns: 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh;
  row-gap: 1vh;
  padding: 5px;
  margin: 5px;
  justify-content: center;
}
#placeContainer #seatsContainer .seat {
  height: 5vh;
  width: 5vh;
}
#placeContainer #seatsContainer .seat input[type=checkbox] {
  display: none;
}
#placeContainer #seatsContainer .seat img {
  height: 100%;
  width: 100%;
}
#placeContainer #legendContainer {
  display: grid;
  grid-template-columns: auto auto auto;
}
#placeContainer .legendItem {
  max-height: 5vh;
  color: white;
  margin: 5px;
  padding: 5px;
  text-align: center;
}
#placeContainer .legendItem p {
  margin: 0;
}
#placeContainer #legendFree {
  background-color: #B97D46;
  grid-column: 1;
}
#placeContainer #legendTaken {
  background-color: #95520B;
  grid-column: 2;
}
#placeContainer #legendSelected {
  background-color: #DC7B0A;
  grid-column: 3;
}/*# sourceMappingURL=bestel.css.map */