.filmpagina{
    height: 100vw;
    position:relative;
    top:30vh;
    color: #B97D46;
   background-color: black;
   
}

#titlebox{
    background-color: white; 
    height:10vh; 
    width:100vh;
    text-align: center;
  
}