@import "./global";

#mainFooter {
  width: 100%;
  height: 50vh;
  background-color: red;
  position: relative;
}

#upperHalf2 {
  width: auto;
  height: 46vh;
  background-color: $footerFill;
  color: white;
  display: grid;
  grid-template-columns: 0.25fr 1fr 1fr 1fr 1fr;

  #footerInfo {
    height: 46vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    grid-column: 2;
    padding-top: 5%;
    max-width: 90%;

    img {
      width: 70%;
    }

    a {
      background-color: white;
      text-decoration: none;
      color: $footerFill;
      padding: 5px 10px;
      width: 90px;
    }
  }

  #footerNav, #footerSocial {
    display: grid;
    align-content: center;
    grid-template-rows: 1fr 1fr 1fr;

    #navTop, #socialTop {
      font-size: 25px;
      font-family: "latobold";
      padding-left: 5%;
      align-self: flex-end;
      padding-bottom: 4%;
    }

    #navLinks, #socialLinks {
        display: grid;
        padding-top: 4%;
        padding-left: 5%;
    }

    a {
        color: white;
        text-decoration: none;
    }

    img {
      height: 35px;
    }

    #socialLinks {
      grid-template-columns: 1fr 1fr 1fr 4fr; 
    }

  }

  #track {
    height: 50vh;
    z-index: 1;
    justify-self: end;
    opacity: 0.5;
  }
}
#lowerHalf2 {
  position: relative;
  width: auto;
  height: 4vh;
  background-color: black;
  z-index: 2;
  color: white;
  display: grid;
  grid-template-columns: 0.25fr 4fr;

  #disclaimer {
    grid-column: 2;
  }

  a {
    color: white;
    text-decoration: none;
  }
}
