@import "./global";

#mainHeader {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 30vh;
    background-color: red;
    z-index: 1;
}

#upperHalf {
    width: auto;
    height: 18vh;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 0.75fr 1fr 0.25fr;

    #logo{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    img{
        height: 16vh
    }

    #menu{
        grid-column: 3;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        a {
            text-decoration: none;
            color: black;
        }
    }
}

#lowerHalf {
    width: auto;
    height: 12vh;
    background-color: $boxFill;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    color: white;

    form {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
    }

    select{
        background-color: #D0A47C;
        border: none;
        height: 40%;
        color: white;
        width: 150px;

        option:focus {
            color: black;
        }
    }

    input{
        background-color: white;
        border: none;
        height: 40%;
        color: #D0A47C;
        width: 150px;
        font-family: 'latobold', sans-serif;
    }
}