@import "./global";

.parentContainer {
    width: 100%;
    height: 200vh;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imageContainer {
    width: 100%;
    height: 100%;
    position: absolute; /* Ensure it stays within the parent container */
    top: 0;
    left: 0;
    background-image: url('../img/biosstoelen.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 0; /* Below the opacity box */
}

#opacityBox {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 1; 
}

#welcomeBox {
    margin-top: 20vh;
    position: relative; 
    z-index: 2; 
    color: white;
    display: flex;
    flex-direction: column;
    background-color: $boxFill; 
    width: 75%;
    height: 40vh;
    padding: 20px 40px 20px 40px;
}

#referButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 5vh;
    background-color:white;
    color: $boxFill;
    font-size: 20px;
}

#locationBox {
    margin-top: 20vh;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 75%;
    height: 65vh;
    padding: 20px 40px 20px 40px;
}

#informationBox {
    display: flex;
    flex-direction: column;
}

#information {
    width: 35vw;
    height: 28vh;
    background-color: $boxFill;
}

#contactBox {
    padding-top: 2vw;
}

.contactRow {
    padding-left: 2vw;
    display: flex;
    flex-direction: row;
    align-items:center;
    margin-bottom: 2vh;
}

.info {
    display: flex;
    flex-direction: column;
}

p.infoP {
    margin-left: 1vw;
    margin-block-start: 0;
    margin-block-end: 0;
    color: white;
}

#aproachText {
    padding-left: 2vw;
}

#blackBackground {
    width: 100%;
    height: 210vh;
    background-color: black;
    position: absolute;
    display: flex;
    flex-direction: column;
}

#titleBox {
    width: 40%;
    height: 10vh;
    color: $boxFill;
    background-color: white;
    display: flex;
    z-index: 1;
    font-size: 50px;
    font-weight: 900;
    padding-left: 2vw;
    align-items: center;
    
}

#whiteBoxesContainer {
    width: 100%;
    height: auto;
    margin: 10vh 0 0 20vw;
    z-index: 1;
}

#filters {
    margin-top: 2vh;
    flex-direction: row;
    display: flex;
}

.whiteBox {
    background-color: white;
    height: 5vh;
    color: $boxFill;
    margin-left: 0.5vw;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

#filmsBox {
width: 6vw;
display: flex;
}
#thisWeekBox {
    width: 10vw;
    display: flex;
}
#todayBox {
    width: 8vw;
    display: flex;
}
#categoryBox {
    width: 12vw;
    display: flex;
    flex-direction: row;
}

#categories {
    border: none;
    color: $boxFill;
}

#movieContainer {
    display: flex;
    flex-direction: row;
}

.movieRow {
    display: flex;
    flex-direction: column;
    margin-top: 7.5vh;
}

.movieColumn {
    width: 13vw;
    height: 80vh;
    background-color: white;
    z-index: 1;
    margin: 0.2vw 0.2vw 0.2vw 0.2vw;
}

#movieImage {
    width: 13vw;
    height: auto;
}

#starContainer {
    margin-top: 2vh;
    width: 12vw;
    height: 2vh;
}

.star {
    width: 1.5vw;
    height: auto;
}

#movieTitle {
    color: #666666;
    font-weight: bold;
    font-size: 1.4em;
}

#releaseText {
    margin-top: 2vh;
    color: #666666;
    font-size: 1.3em;
}

#description {
    color: #666666;
    font-size: 0.75em;
}

#ticketsButton {
    margin-top: 3vh;
    width: 9vw;
    font-size: 0.8em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background-color: $boxFill;
    color: white;
}

#allFilmsButton {
    margin: 3vh 65vw 0 0;
    width: 15vw;
    font-size: 0.8em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background-color: $boxFill;
    color: white;
    z-index: 1;

}